/* iOS 상단 여백
header {padding-top:60px !important;}
.content {margin-top:180px !important;}
/* iOS 상단 여백 */

// iOS 11.0 버전
constant(safe-area-inset-top)
constant(safe-area-inset-right)
constant(safe-area-inset-bottom)
constant(safe-area-inset-left)
// iOS 11.2 이상
env(safe-area-inset-top)
env(safe-area-inset-right)
env(safe-area-inset-bottom)
env(safe-area-inset-left)


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input {
  margin: 0;
  padding: 0;
  text-shadow: none;
}
img,
fieldset,
iframe {
  max-width: 100%;
  margin: 0;
  border: 0 solid transparent;
  vertical-align: top;
}
ul li {
  list-style: none;
}
em,
address {
  font-style: normal;
}
hr,
button img {
  border: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
*:first-child + html img {
  margin-right: -1px;
}

body {
  background-color: #fff;
}
body,
table,
tr,
td,
div,
form,
textarea {
  font-family: "나눔고딕", "NanumGothic", "NanumGothicWeb", "맑은 고딕",
    "Malgun Gothic", "돋움", dotum, Helvetica, sans-serif;
  font-size: 14px;
  color: #45464a;
  letter-spacing: -0.05em;
  margin: 0px;
  padding: 0px;
  line-height: 20px;
}

/* link*/
a {
  text-decoration: none;
}
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #555;
}

.wrap {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.Left {
  float: left;
}
.Right {
  float: right;
}

/* 헤더 */
header {
  float: left;
  position: fixed;
  z-index: 99;
  width: 100%;
  padding-top: 20px;
  background-color: #ff8670;
}
header a {
  color: #555;
}
header .Left,
header .Right {
  position: relative;
  top: -25px;
  margin: 0 20px;
}
header h1 {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 5px auto;
  font-size: 14pt;
  color: #fff;
  text-align: center;
}
header img {
  width: 20px;
}

/* 내비게이션 */
nav {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
}
nav ul li a {
  display: inline-block;
  padding: 10px 0 8px 0;
  font-size: 10pt;
  color: #000 !important;
}
nav ul li img {
  display: block;
  width: 25px;
  margin: 5px auto 3px auto;
  text-align: center;
}
nav ul li.on {
  border-bottom: 5px solid #ff5020;
}
nav ul li.on a {
  font-weight: 600;
  color: #ff5020 !important;
}

/* 콘텐츠 영역 */
.content {
  float: left;
  width: 100%;
  padding-bottom: 150px;
  margin-top: 145px;
}
.content h2 {
  float: left;
  padding: 5px 15px;
  margin: 20px 0 10px 10px;
  font-size: 10pt;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  background-color: #ff8670;
}
.content h3 {
  float: right;
  padding: 5px 15px;
  margin: 20px 20px 10px 10px;
  font-size: 10pt;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  background-color: #ff8670;
}

/* 폰트 컬러 */
.font_blue {
  color: #0066ff;
}
.font_gray {
  color: #888;
}
.font_green {
  color: #0db100;
}
.font_red {
  color: #ff3333;
}

/* index.htm */
.app_index {
  background-color: #ff8670;
}
.app_index header,
.app_index .content {
  padding-top: 60px;
}
.app_index header h1 {
  font-size: 26pt;
  line-height: 36px;
}
.app_index .content .wrap {
  text-align: center;
}
.app_index .content .wrap img {
  height: 200px;
  margin-bottom: 80px;
}
.app_index .content .wrap a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background-color: #fff;
}

/* 시내버스 */
.content .wrap {
}
.m_content {
  float: left;
  width: 100%;
}
.m1_title {
  border-top: 1px solid #ddd;
  background-color: #eff3f6;
}
.m1_title,
.m1_list {
  float: left;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #ddd;
}
.m1_title td,
.m1_list td {
  padding: 10px 0;
  text-align: center;
}
.m1_title td.bus_num,
.m1_list td.bus_num,
.m1_title td.bus_view,
.m1_list td.bus_view {
  width: 100px;
}
.m1_list td.bus_num {
  color: #0066ff;
}
.m1_list td.bus_info {
  font-size: 10pt;
}
.m1_list td.bus_info img {
  height: 8px;
  vertical-align: middle;
}
.m1_list td.bus_view {
  font-size: 8pt;
  background: url(../img/icon_arrow.png) no-repeat 90% 50%;
  background-size: 5px;
}
.m1_view {
  float: left;
  width: 100%;
  padding: 5px 0 10px 0;
  margin: 5px 0;
  line-height: 24px;
  border-bottom: 1px solid #ddd;
}
.m1_view dt {
  float: left;
  width: 120px;
  font-weight: 600;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-size: auto 15px;
}
.m1_view:nth-child(1) dt {
  background-image: url(../img/icon_heart.png);
}
.m1_view:nth-child(2) dt {
  background-image: url(../img/icon_heart.png);
}
.m1_view:nth-child(3) dt {
  background-image: url(../img/icon_map.png);
}
.m1_view:nth-child(4) dt {
  background-image: url(../img/icon_time.png);
}
.m1_view:nth-child(5) dt {
  background-image: url(../img/icon_time.png);
}
.m1_view:nth-child(6) dt {
  background-image: url(../img/icon_bus.png);
}
.m1_view:nth-child(7) dt {
  background-image: url(../img/icon_map.png);
}
.m1_view dd {
  float: left;
  width: calc(100% - 130px);
  padding: 0;
  margin: 0;
}

/* 시외버스 */
.m2_timetable {
  width: 100%;
  margin-bottom: 40px;
  border-top: 2px solid #505050;
  border-collapse: collapse;
}
.m2_timetable caption {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
.m2_timetable th,
.m2_timetable td {
  width: 33.3%;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
}
.m2_timetable th {
  background-color: #eff3f6;
}

/* 로그인 */
.login_box {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #fff;
}
.login_box .login_form {
  padding-top: 40%;
  margin: 0 auto;
}
.login_box .login_form .id {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  border: #ff8670 1px solid;
}
.login_box .login_form .pw {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  border: #ff8670 1px solid;
  margin-top: 5px;
  margin-bottom: 5px;
}
.login_box .login_form .btn_login {
  background-color: coral;
  border-radius: 5px;
  border: thistle 2px solid;
  margin-top: 30px;
  width: 200px;
  height: 30px;
  color: white;
}
.login_box .login_form .btn_input {
  background-color: #d7d7d7;
  border-radius: 5px;
  border: thistle 2px solid;
  margin-top: 30px;
  width: 75px;
  height: 30px;
  margin-right: 10px;
  color: white;
}
